.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialog {
    padding: 10px;

}

.dialogsItems .active{
    color: #427bea;
}

.messages {
    padding: 10px;

}

.message {
    padding: 10px;
    color: #3e3d3f;
}