.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialog {
    padding: 10px;

}

.avaDialogs {
    width: 20px;
    margin-right: 5px;


}

.dialogsItems a.activeLink {
    color: #0000ff;
}

.messages {
    padding: 10px;

}

.message {
    padding: 10px;
    color: #3e3d3f;
}

.message > img {
    width: 20px;
    margin-right: 10px;
}


.dialog a {
    color: black;
    text-decoration: none

}

.dialog a:hover {
    text-shadow: 1px 1px 2px black, 0 0 1px black;
}
